<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cool Chat on Socket IO</title>
	<link rel="stylesheet" href="lib/materialize.min.css">
</head>
<body>
	<div id="messanger" class="container" style="display: none;">
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/friends">Друзья</a></li>
						<li><a id="countClient" href="/online"></a></li>
					</ul>
				</div>
			</nav>
			<hr>
			<div class="col s12 z-depth-1">
				<input id="msg" type="text" placeholder="Ваше сообщение">
				<div id="anw" style="max-height: 400px; overflow: auto;">
					<ul id="chat-history" class="collection">
						<li id="history-none" class="collection-item">
							<h5 align="center">Сообщении нет</h5>
						</li>
					</ul>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div id="login" class="container">
		<div class="row">
			<div class="col s12 z-depth-1">
				<input id="nickname" type="text" placeholder="Nickname....">
				
			</div>
		</div>
	</div>

	<script src="lib/jquery.min.js"></script>
	<script src="lib/materialize.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/chat.js"></script>
</body>
</html>