<!DOCTYPE html>
<html lang="en">
<% include ../include/head %>
<body>
	<div id="messanger" class="container" style="display: none;">
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<a href="#" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a id="countClient" class="waves-effect waves-light pink darken-4 modal-trigger btn" href="#online-list"></a></li>
					</ul>
				</div>
			</nav>
			<hr>
			<div class="col s12 z-depth-1">
				<input id="msg" type="text" placeholder="Ваше сообщение">
				<div id="anw" style="max-height: 400px; overflow: auto;">
					<ul id="chat-history" class="collection">
						<li id="history-none" class="collection-item">
							<h5 align="center">Сообщении нет</h5>
						</li>
					</ul>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div id="login" class="container">
		<div class="row">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/">Общий</a></li>
						<li><a id="countClient" href="/create">Приватный</a></li>
          </ul>
        </div>
      </nav>
      <hr>
			<div class="col s12 z-depth-1">
				<input id="nickname" type="text" placeholder="Ваше имя....">
				<a id="login-btn" class="waves-effect waves-light pink darken-4 btn"><i class="material-icons right">chevron_right</i>войти</a>
        <hr>
      </div>
		</div>
	</div>

	<!-- Modal Online List  -->
	<div id="online-list" class="modal">
    <div class="modal-content">
      <h4>Пользователи онлайн</h4>
			<p>Вы можете пригласить пользователя в личный чат!</p>
			<div class="list-wrapper" style="max-height: 250px; overflow: auto;">
				<ul id="outer-online-list" class="collection">
						
				</ul>
			</div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn-flat">Закрыть</a>
    </div>
	</div>

	<% include ../include/libs%>
	<script src="../source/js/chat.js"></script>
</body>
</html>