<!DOCTYPE html>
<html lang="en">
<% include ../include/head %>
<body>
	<div id="messanger" class="container">
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<a href="#" id="logo" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
				</div>
			</nav>
			<hr>
			<div class="col s12 z-depth-1">
				<input id="msg" type="text" placeholder="Ваше сообщение">
				<div id="anw" style="max-height: 400px; overflow: auto;">
					<ul id="chat-history" class="collection">
						<li id="history-none" class="collection-item">
							<h5 align="center">Сообщении нет</h5>
						</li>
					</ul>
				</div>
				<hr>
			</div>
		</div>
	</div>

	<% include ../include/libs%>
	<script src="../source/js/private.js"></script>
</body>
</html>