<!DOCTYPE html>
<html lang="en">
<% include ../include/head %>
<body>
	<div id="messanger" class="container" style="display: none;"> 
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<a href="/room/<%=id%>" target="_blank" id="logo" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
							<li><a id="invite" class="waves-effect waves-light pink darken-4 modal-trigger btn" href="#invite-list">Пригласить</a></li>
						<li><a id="conf-clients" class="waves-effect waves-light pink darken-4 modal-trigger btn" href="#clients-list">Собеседники: </a></li>
					</ul>
				</div>
			</nav>
			<hr>
			<div class="col s12 z-depth-1">
				<input id="msg" type="text" placeholder="Ваше сообщение">
				<div id="anw" style="max-height: 400px; overflow: auto;">
					<ul id="chat-history" class="collection">
						<li id="history-none" class="collection-item">
							<h5 align="center">Сообщении нет</h5>
						</li>
					</ul>
				</div>
				<hr>
			</div>
		</div>
	</div>
	<div id="login" class="container">
		<div class="row">
			<nav>
				<div class="nav-wrapper">
					<a href="/" class="brand-logo" style="padding-left: 10px;">ChaTOP</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="/">Общий</a></li>
						<li><a id="countClient" href="/create">Приватный</a></li>
					</ul>
				</div>
			</nav>
			<hr>
			<div class="col s12 z-depth-1">
				<input id="room-title" type="text" placeholder="Название чата" maxlength="30">
				<input id="nickname" type="text" placeholder="Имя" maxlength="20">
				<!-- <input id="password" type="text" placeholder="Пароль">
				<input type="checkbox" id="test5" />
				<input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
				<label for="filled-in-box">Без пароля</label>
				<hr> -->
				<a id="login-btn" class="waves-effect waves-light pink darken-4 btn"><!-- Dinamic --></a>
				<hr>
			</div>
		</div>
	</div>

	<!-- Modal Clients List  -->
	<div id="clients-list" class="modal">
    <div class="modal-content">
      <h4>Собеседники</h4>
			<p>Информация о чате</p>
			<div class="list-wrapper" style="max-height: 250px; overflow: auto;">
				<ul id="inner-clients-list" class="collection">
					
				</ul>
			</div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect btn-flat">Закрыть</a>
    </div>
	</div>

	<!-- Modal Clients List  -->
	<div id="invite-list" class="modal">
			<div class="modal-content">
				<h4>Приглашение</h4>
				<p>Вы можете пригласить собеседников!</p>
				<div class="list-wrapper" style="max-height: 250px; overflow: auto;">
					<ul id="outer-clients-list" class="collection"></ul>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect btn-flat">Отменить</a>
			</div>
		</div>

	<% include ../include/libs%>
  <script src="../source/js/room.js"></script>
</body>
</html>